* {
  margin: 0;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 23px;
}

button {
  font-size: 16px;
  color: #fff;
  background-color: #008cba;
}
button:hover {
  cursor: pointer;
  background-color: #007095;
  transition: all 0.1s ease-in;
}

.header {
  background-color: #90ba2c;
  display: flex;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border-bottom: 0.1px solid #333;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_btn {
  flex-basis: 20px;
  padding: 2px;
}
.nav_search {
  flex-basis: 300px;
  justify-content: left;
}
.nav_search input {
  height: 30px;
  padding: 0 10px;
}
.nav_search button {
  padding: 10px 25px;
}

.links {
  display: flex;
  flex-basis: 60%;
  justify-content: start;
  padding: 0;
}

.help_info {
  color: #fff;
  text-decoration: none;
  flex-basis: 150px;
  padding-right: 15px;
}

.dropMenu a {
  color: #fff;
  text-decoration: none;
}

.links a {
  color: #fff;
  text-decoration: none;
  padding: 0 50px 0 0;
}

.dropMenu {
  float: left;
  overflow: hidden;
}

.dropMenu_content {
  position: absolute;
  display: none;
  width: max-content;
  padding: 20px 0 0;
}

.dropMenu:hover .dropMenu_content {
  display: block;
  background-color: #90ba2c;
}

.menuCol {
  float: left;
}

.menuCol a {
  float: none;
  display: block;
  padding: 20px;
  border-top: 0.1px solid #333;
}

/* Style Main block */

.main {
  max-width: 1000px;
  margin: auto;
}

/* Style Hero Page */

.hero_page {
  margin: 10px 0;
}

.hero_page h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 61px;
  color: #1f1f1f;
  padding: 0 10px;
}

.hero_search {
  background-color: #ffcc99;
  border-radius: 10px;
  border: 2px solid #ffa500;
  padding: 20px;
}

.hero_search input {
  width: 80%;
  height: 40px;
  padding: 0 10px;
}

.hero_search button {
  padding: 15px 30px;
  margin-left: 30px;
}

.id_near_you {
  text-align: center;
  padding: 20px;
  padding-left: 50px;
}
.id_near_you p {
  display: inline-block;
  font-size: 18px;
  color: #333;
}

/* Styling The Ad */

.ads {
  width: 80%;
  margin: auto;
}

.search_nav {
  display: flex;
}

.search_nav h2 {
  display: flex;
  align-items: center;
  padding: 0 5px;
  font-weight: 800;
  color: #053444;
  /* flex-basis: 100px; */
  /* border: 2px solid; */
}
.search_nav h2 span {
  color: #008cba;
  font-weight: 800;
}

.ads_search {
  background-color: #ffa500;
  border-radius: 2px;
  padding: 4px;
  display: flex;
  width: 100%;
}

.ads_search #search,
.ads_search #date {
  width: 100%;
  margin: 0 5px 0 0;
  border-radius: 2px;
}

.ads_btn {
  display: flex;
  flex-basis: 100%;
  /* padding: 0 10px; */
  justify-content: space-between;
}

.ads_btn_search {
  border: 2px solid #d8d8d8;
  border-radius: 5px;
}

.ads_btn_guest {
  background-color: #ffa500;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  box-shadow: 1px 1px 1px #333;
  /* border-color: #b97903; */
}

.ads_location {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.places {
  /* border: 2px solid; */
  background-color: #e6e5e5;
  position: relative;
}

.city_detail {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  padding: 5px;
  background-color: #0a0a0a8b;
}

.double_from {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  /* border: 2px solid; */
  width: 100%;
  text-align: end;
}

.city {
  position: relative;
  padding: 5px 2px;
}

.city .from {
  position: absolute;
  right: 0;
  padding-right: 5px;
}

/* Styling the Popular Student ID Section */

.popular_id {
  padding: 20px 20px 0;
}

.popular_id h2 {
  font-size: 37px;
  line-height: 52px;
  color: #1f1f1f;
  padding: 10px 0;
}

.popular_id .id {
  text-decoration: none;
  background-color: #ddd;
  color: #008cba;
}

.popular_id .top_id {
  font-size: 32px;
  line-height: 48px;
  padding: 5px 0;
  margin: 0 5px 0 0;
}
.popular_id .lower_id {
  font-size: 16px;
  line-height: 24px;
  padding: 4px 0;
}

.key_info {
  background-color: #f2f2f2;
  margin: 2px 0 20px;
  border: 1px solid #d8d8d8;
  text-align: center;
  padding: 20px;
  font-size: 14.4px;
}
.key_info p {
  padding: 10px 0;
}
.key_info .bold_text {
  font-weight: 700;
}

.footer_bg {
  background-color: #333;
}
.upper_footer {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}
.upper_footer .items {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  padding: 20px 10px 30px;
}
.upper_footer a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 14.4px;
}
.upper_footer a:hover {
  text-decoration: underline;
}

.lower_footer {
  text-align: center;
  padding: 10px;
  font-size: 14.4px;
}

.lower_footer p {
  padding: 10px;
}

.lower_footer > p > a {
  text-decoration: none;
  color: #008cba;
}
